<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Attempt</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <form
      method="POST"
      action="/quizzes/attempt/<%= results.quiz_data.quiz_id %>"
    >
      <h1 id="title"><%= results.quiz_data.quiz_title %></h1>
      <label id="description"><%= results.quiz_data.quiz_description %></label>
      <div class="quizz-container">
        <fieldset>
          <% for(let question of results.quiz_data.questions) { %>
          <legend><%= question.question_text %></legend>
          <% for(let answer of question.answers) { %>
          <div>
            <input
              type="radio"
              id="<%= answer.answer_id %>"
              name="question_<%= question.question_id %>"
              value="<%= answer.answer_id %>"
            />
            <label for="<%= answer.answer_id %>"
              ><%= answer.answer_text %></label
            >
            <% } %>
          </div>
          <% } %>
        </fieldset>
        <button type="submit">Get my results!</button>
      </div>
    </form>
  </body>
</html>
