<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Results</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/results.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Gidole&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/share_results.js"></script>
    <% if (results !== null) { %>
    <script>
      const quizURL = `http://localhost:8080/quizzes/attempt/<%= results.quiz_id %>`;
    </script>
    <% }; %>
  </head>

  <body>
    <%- include('partials/_header') %> <% if (results === null) { %>
    <span> Results not available! </span>
    <%} else {%>
    <main>
      <h1>Here are your results for</h1>
      <h3 id="title"><%= results.title %></h3>
      <h4 id="name"><%= results.name %></h4>
      <span>You've got:</span><br />
      <div class="results">
        <label id="correct-answers"><%= results.correct_answers %></label>/
        <label id="total-questions"><%= results.total_questions %></label>
      </div>
      <button id="share-results">Share my results</button>
    </main>
    <footer><button id="share-quiz">Share this quizz!</button></footer>
  </body>
  <%} %>
</html>
